
body {
  background: rgb(57, 66, 75);
  font-family: 'Merienda', cursive;
  font-family: 'Satisfy', cursive;
  font-family: 'Special Elite', cursive;
}

.div1  {
  background: url(../images/crime-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto; 
  opacity: 0.5;
 
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #c72610;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.topnav a:hover {
  color: aqua;
}

.topnav a.active {
color: white;
}

 .grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
      /* I use this value here because the grid has no content, so in order to see the boxes they need a default height */
   
  grid-template-areas:
    'hd hd hd hd hd hd'
    'lc lc rc rc sb sb'
    'ft ft ft ft ft ft';
  gap: 10px;
  background-color: rgb(233, 227, 227);
  padding: 5px;
}

.img:hover {
  opacity: 0.5;
}

#header {
  display: flex;
  grid-area: hd;
}

#sidebar {
  grid-area: sb;
  text-align: center;
}

#content-left {
  grid-area: lc;
  text-align: center;
}

#content-right {
  grid-area: rc;
  text-align: center;
}


.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  border: 1px;
  margin: auto;
  border: 1px solid black;
}

.flex-container .box {
  position: relative;
  width: 75px;
  height: 75px;
  text-align: center;
  flex-wrap: wrap;
  float: left;
  margin: 15px;
  box-sizing: content-box;
  overflow: hidden;
  flex-direction: column;
  border-radius: 10px;
}

/* Tablet */
/* Portrait and Landscape */
@media (min-width: 761px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'hd hd hd hd'
      'lc lc rc rc'
      'sb sb sb sb'
      'ft ft ft ft';
  }
  #sidebar {
    min-height: 125px;
  }
  .flex-container .box {
    flex-basis: 49%;
  }
}
/* Phone */
/* Portrait and Landscape */
@media (max-width: 760px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'hd hd'
      'lc lc'
      'rc rc'
      'sb sb'
      'ft ft';
  }
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: right;
  display: block;
  color: #c72610;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  color: aqua;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #333D;
  color: white;
}